NEXT_PUBLIC_SUPABASE_URL=https://xtbwuvkqqtqfemwszupc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0Ynd1dmtxcXRxZmVtd3N6dXBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMTQ5NzIsImV4cCI6MjEwMDg5MDk3Mn0.OfdR4CuDk1OtWtORJfHSgLBwnRD76fX5RPel6KcFjBE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0Ynd1dmtxcXRxZmVtd3N6dXBjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTMxNDk3MiwiZXhwIjoyMTAwODkwOTcyfQ.pulKJ8vwF-0DsTYqqfPVhaX9F5PCW8Tm1MYuOe63pzY
NEXT_PUBLIC_SITE_URL=https://x5-smansaga.vercel.app
